@model Chat


<div class="chat-body">
   @foreach (var message in Model.Messages)
   {
    <div class="message">
        <header>@message.Name</header>
        <p>@message.Text</p>
        <footer>@message.Timestamp</footer>
    </div>   
   }   
</div>

<form class="chat-input" onsubmit="sendMessage(event)" asp-controller="Home" asp-action="CreateMessage">
    <input type="hidden" name="chatId" value="@Model.Id">
    <input type="hidden" name="roomName" value="@Model.Name">
    <input type="text" name="message">
    <button type="submit">Send</button>
</form>  

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.8/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.8/signalr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

            const connection = new signalR.HubConnectionBuilder()
                                      .withUrl("/chatHub")
                                      .configureLogging(signalR.LogLevel.Information)
                                      .build();

            var _connectionId = '';

            connection.on("RecieveMessage", function (data) {
                console.log(data);

                var message = document.createElement("div")
                message.classList.add("message")
                
                var header = document.createElement("header ")
                header.appendChild(document.createTextNode(data.name))

                var p = document.createElement("p")
                p.appendChild(document.createTextNode(data.text))

                var footer = document.createElement("footer")
                footer.appendChild(document.createTextNode(data.timestamp))


                message.appendChild(header);
                message.appendChild(p);
                message.appendChild(footer);

               document.querySelector(".chat-body").append(message);
            })

            

            var joinRoom = function(){
                var url = '/Chat/JoinRoom/' + _connectionId + '/{@Model.Name}'
                axios.post(url, null)
                    .then(res =>{
                        console.log("Room Joined", res)
                    })
                    .catch(err =>{
                        console.err("Failed to Join Room!", res)
                    })
            }

            connection.start()
                      .then(function(){
                       connection.invoke('getConnectionId')
                                 .then(function(connectionId){
                                    _connectionId = connectionId
                                    joinRoom();
                                  })
                    })
                    .catch(function(err){
                        console.log(err)
                    })

           

            var sendMessage = function(event){

                event.preventDefault();                
              
                var data = new FormData(event.target);
                axios.post('/Chat/SendMessage', data)
                    .then(res =>{
                        console.log("Message Sent!")
                    })
                    .catch(err =>{
                        console.log("Failed to send Message!")
                    })
            }

            

    </script>
}